
<%= simple_form_for Money.new do |f| %>
<div class="modal-body">
<%= f.input :title %>
<%= f.input :amount %>
<%= f.input :date %>
</div>
<div class="buttons">
<%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
</div>

